<form [formGroup]="digitForm" (ngSubmit)="onSubmit()">
<div class="row searchRow">
    <div class="col-md-4">
        <div class="form-group">
            <input [(ngModel)]="digitInput" formControlName="digitText" type="text" class="form-control" id="digitText"  placeholder="Enter Number">
            <div *ngIf="submitted && f.digitText.errors">
            <small *ngIf="f.digitText.errors.required" class="errorText">Please Enter Number</small>
            <small *ngIf="f.digitText.errors.minlength" class="errorText">Minimum digit should Be 7</small>
            <small *ngIf="f.digitText.errors.maxlength" class="errorText">Maximum digit should be 10</small>
        </div>
          </div>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary mr-1">Search</button>
    </div>
</div>
</form>

    <div class="list" *ngIf="dataFetchSuccess && submitted">
        <h3>Possible Combinations of {{searchedInput}}.</h3>
    <div>
        <span class="digitSpan" *ngFor="let item of pageOfItems | paginate: config">{{ item }}</span>
    </div>
    <div>
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination digitPagination"></pagination-controls>
        <select (change)="perPageChange($event.target.value)" class="perPageClass">
            <option *ngFor="let summary of paginationPerpageArray" value={{summary}}>
              {{summary}}
            </option>
          </select>
    </div>    
    </div>
    <div class="list" *ngIf="!dataFetchSuccess && submitted && (searchedInput && searchedInput.length > 6 && searchedInput.length < 11)">
        <h3>No Combination found of {{searchedInput}}.</h3>   
    </div>
    