.errorText{
    padding: 5px;
    display: inline-block;
    background: red;
    color: white;
    border-radius: 6px;
    margin-top: 4px;
    font-size: 12px;
}
.searchRow{
    padding: 10px 15px 0px;
}
.digitSpan{
    padding: 7px;
    background: #c3acac;
    color: white;
    border-radius: 9px;
    margin: 5px;
    display: inline-block;
}
.digitPagination{
    margin-top: 10px;
    float: left;
}
.list{
    float: left;
    width: 100%;
    padding: 20px;
    border: 1px solid #dccfcf;
}
.searchRow .col-md-2{
    padding: 0;
}
.perPageClass{
    margin: 13px 0px 0px 13px;
}